body {
    background-color: #1f1f1f;
    color: #DDDDDD;
}

h1 {
    color: #DDDDDD;
}
span {
    aspect-ratio: 1/1;
    display: inline-flex;
    width: 22%;
    padding: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 20%;
    justify-content: center;
    align-items: end;
}

div.github {
    position:fixed;
    bottom:0;
}

div.everything{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

div.title{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
}

div.main {
    float: right;
    width: 50%;
}

div.colours{
    display: flex;
    align-items: flex-end;
}

input{
    padding:5px;
    border-radius:15px;
}

a:link {
    color: gold;
    text-decoration: none;
}

a:visited {
    color: gold;
    text-decoration: none;
}

a:hover {
    color: gold;
    text-decoration: wavy underline;
}

a:active {
    color: darkgoldenrod;
}