<!doctype html>
<title>colour palette for {{ data[0] }}</title>
<link rel="stylesheet" href="./static/css/palette.css">
<body>
    <form method="post" action="/">

        {% if data[0] == False%}
            <input name="text">
        {% else %}
            <input name="text" value="{{ data[0] }}">
        {% endif %}

        <input type="submit" value="submit">

        {% if radio == 'old' %}
            <input type="radio" id="oldRadio" name="palette_type" value="old" checked>old generator</input>
            <input type="radio" id="newRadio" name="palette_type" value="new">new generator</input>
            <input type="radio" id="altRadio" name="palette_type" value="alt">alt generator</input>
        {% elif radio == 'new' %}
            <input type="radio" id="oldRadio" name="palette_type" value="old">old generator</input>
            <input type="radio" id="newRadio" name="palette_type" value="new" checked>new generator</input>
            <input type="radio" id="altRadio" name="palette_type" value="alt">alt generator</input>
        {% elif radio == 'alt' %}
            <input type="radio" id="oldRadio" name="palette_type" value="old">old generator</input>
            <input type="radio" id="newRadio" name="palette_type" value="new">new generator</input>
            <input type="radio" id="altRadio" name="palette_type" value="alt" checked>alt generator (should decrease greens)</input>
        {% endif %}

    </form>

    {% if data[0] == False%}
        <h1>generate a colour palette for your name!</h1>
    {% else %}   
        <h1> colour palette for {{ data[0] }} </h1>
        <span style="background-color: {{data[1][0]}};">{{data[1][0]}}</span>
        <span style="background-color: {{data[1][1]}};">{{data[1][1]}}</span>
        <span style="background-color: {{data[1][2]}};">{{data[1][2]}}</span>
        <span style="background-color: {{data[1][3]}};">{{data[1][3]}}</span>
        <span style="background-color: {{data[1][4]}};">{{data[1][4]}}</span>
        <span style="background-color: {{data[1][5]}};">{{data[1][5]}}</span>
        <span style="background-color: {{data[1][6]}};">{{data[1][6]}}</span>
        <span style="background-color: {{data[1][7]}};">{{data[1][7]}}</span>
        <span style="background-color: {{data[1][8]}};">{{data[1][8]}}</span>
        <span style="background-color: {{data[1][9]}};">{{data[1][9]}}</span>
        <span style="background-color: {{data[1][10]}};">{{data[1][10]}}</span>
        <span style="background-color: {{data[1][11]}};">{{data[1][11]}}</span>
        <span style="background-color: {{data[1][12]}};">{{data[1][12]}}</span>
        <span style="background-color: {{data[1][13]}};">{{data[1][13]}}</span>
        <span style="background-color: {{data[1][14]}};">{{data[1][14]}}</span>
        <span style="background-color: {{data[1][15]}};">{{data[1][15]}}</span>
    {% endif %}

    <div class="github">code on <a href="https://github.com/elixirical/colours/tree/master">github</a></div>
</body>